/*variables*/
:root {
  --color-moderate-cyan: hsl(176, 50%, 47%);
  --color-dark-cyan: hsl(176, 72%, 28%);
  --color-black: hsl(0, 0%, 0%);
  --color-dark-gray: hsl(0, 0%, 48%);
}
/*normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*root*/
html {
  font-size: 62.5%;
}
/*container page*/
body {
  position: relative;

  min-height: 100vh;

  font-family: "Commissioner", sans-serif;
}
/*header page*/
.header-page {
  background-image: url(../images/image-hero-desktop.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;

  height: 27vw;
}
/*nav page*/
.nav-page {
  display: flex;

  padding: 5rem 16.5rem;
}
.nav-page__box-logo {
  flex: 0 1 50%;
}
.nav-page__logo {
  display: block;
  width: 13rem;
}
.nav-page__box-menu {
  flex: 0 1 50%;
}
.nav-page__image-menu {
  display: none;
}
/*menu block*/
.menu {
  list-style: none;

  display: flex;
  justify-content: flex-end;
}
.menu__option--margin {
  margin: 0 3rem;
}
.menu__link {
  text-decoration: none;

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
/*main page*/
.main-page {
  background-color: #fafafa;

  height: 170rem;

  position: relative;
}
.main-content {
  background-color: transparent;

  position: absolute;
  top: -8rem;

  min-width: 50vw;
}
.main-content--center-x {
  left: 50%;
  transform: translateX(-50%);
}
/*presentation section*/
.presentation-section {
  background-color: #ffffff;

  text-align: center;

  padding: 5rem;
  margin-bottom: 4rem;

  border-radius: 1rem;

  box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.3);
}
.presentation-section__image {
  position: absolute;
}
.presentation-section--center {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.presentation-section__title {
  font-size: 2.8rem;
  font-weight: 700;

  margin-bottom: 1.5rem;
}
.presentation-section__text {
  color: var(--color-dark-gray);
  font-size: 1.6rem;
  font-weight: 400;
}
.presentation-section__box-options {
  display: flex;
  justify-content: space-between;

  margin-top: 4rem;
}
/*btn support block*/
.btn-support {
  background-color: var(--color-moderate-cyan);

  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;

  padding: 2rem 3.5rem;

  border: none;
  border-radius: 4rem;

  transition-duration: 0.5s;
}
.btn-support:hover {
  background-color: var(--color-dark-cyan);
}
.btn-support--font {
  font-size: 1.3rem;
}
.btn-support--background {
  background-color: var(--color-dark-gray);
}
.btn-support--menu {
  padding: 1.4rem 2.5rem;

  font-size: 14px;
}
.btn-support--thanks {
  padding: 1.4rem 2.5rem;

  font-size: 14px;
}
.btn-support--card {
}
/*bookmark block*/
.bookmark {
  position: relative;
}
.bookmark__save {
  background-color: #f4f4f4;

  color: var(--color-dark-gray);
  font-size: 1.5rem;
  font-weight: 700;

  padding: 2rem 2.5rem;
  padding-left: 6.5rem;

  outline: none;
  border: none;
  border-radius: 4rem;
}
.bookmark__save--color {
  background-color: #f4f8f9;
  color: var(--color-dark-cyan);
}
.bookmark__box-image {
  position: absolute;
  top: 0;

  width: auto;
  height: 100%;
}
.bookmark__image {
  display: block;
  width: auto;
  height: 100%;
}
/*support section*/
.support-section {
  background-color: #ffffff;

  padding: 5rem;
  margin-bottom: 4rem;

  border-radius: 1rem;

  box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.3);
}
/*project info block*/
.project-info {
  display: flex;
}
/*info block*/
.info {
  margin-bottom: 4rem;
}
.info:nth-child(1) {
  padding-right: 4rem;
}
.info:nth-child(2) {
  padding-left: 4rem;
  padding-right: 8rem;
}
.info:nth-child(3) {
  padding-left: 4rem;
}
.info--border {
  border-left: 1px solid hsla(0, 2%, 53%, 0.3);
  border-right: 1px solid hsla(0, 2%, 53%, 0.3);
}
.info__title {
  font-size: 32px;
  font-weight: 700;

  margin-bottom: 1rem;
}
.info__text {
  font-size: 15px;
}
/*progress bar block*/
.progress-bar {
  position: relative;

  height: 1.2rem;

  border-radius: 4rem;
}
.progress-bar__target {
  background-color: #f4f4f4;

  position: absolute;

  width: 100%;
  height: 1.2rem;

  top: 0;

  border-radius: 4rem;

  z-index: 25;
}
.progress-bar__progress {
  background-color: var(--color-moderate-cyan);

  position: absolute;

  width: 50%;
  height: 1.2rem;

  top: 0;

  border-radius: 4rem;

  z-index: 50;
}
/*proyect section*/
.proyect-section {
  background-color: #ffffff;

  padding: 5rem;

  border-radius: 1rem;

  box-shadow: 0px 0px 10px -8px rgba(0, 0, 0, 0.3);
}
.proyect-section__title {
  font-size: 1.9rem;

  margin-bottom: 3rem;
}
.proyect-section__text {
  color: var(--color-dark-gray);
  font-size: 1.55rem;
  line-height: 3rem;

  margin-bottom: 3rem;
}
.proyect-section__text--margin {
  margin-bottom: 3rem;
}
/*support card block*/
.support-card {
  padding: 3rem;

  border: 1px solid hsla(0, 2%, 53%, 0.3);
  border-radius: 1rem;
}
.support-card--opacity {
  opacity: 0.6;
}
.support-card--margin {
  margin: 2rem 0;
}
.support-card__box-text {
  display: flex;
  justify-content: space-between;

  margin-bottom: 3rem;
}
.support-card__title {
  font-size: 18px;
  font-weight: 700;
}
.support-card__pay {
  color: var(--color-moderate-cyan);
  font-size: 15px;
  font-weight: 500;
}
.support-card__text {
  color: var(--color-dark-gray);
  font-size: 15.5px;

  margin-bottom: 2rem;
}
.support-card__reward-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*reward block*/
.reward {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reward__amount {
  font-size: 30px;
  font-weight: 700;

  margin-right: 1rem;
}
.reward__text {
  color: var(--color-dark-gray);
  font-size: 14px;
  font-weight: 400;
}

/*-------------------------------------------------------------------*/
.support-menu {
  background-color: hsla(0, 0%, 0%, 0.6);

  position: absolute;
  opacity: 0;

  width: 100%;
  height: 100%;

  display: none;
  justify-content: center;
  align-items: flex-start;

  padding-top: 18.5rem;

  z-index: 200;
}
.support-menu--show {
  opacity: 1;
  display: flex;
}
/*support window block*/
.support-window {
  background-color: #ffffff;

  position: relative;
  opacity: 1;

  display: inline-block;

  max-width: 72rem;

  padding: 4.5rem;

  border-radius: 0.6rem;
}
.support-window--hidden {
  opacity: 0;
}
.support-window__image-box {
  position: absolute;

  top: 3rem;
  right: 3rem;
}
.support-window__title {
  font-size: 24px;

  margin-bottom: 2rem;
}
.support-window__text {
  font-size: 16px;

  margin-bottom: 2rem;
}
/*support block*/
.support {
  padding: 2.5rem 0;
  border-radius: 0.6rem;

  border: 1px solid hsla(0, 2%, 53%, 0.3);
}
.support__content {
  padding: 0 2.5rem;
  padding-bottom: 2.5rem;
}
.support--margin {
  margin-bottom: 2rem;
}
.support__title-box {
  display: flex;
  justify-content: space-between;

  margin-bottom: 1.5rem;
}
.support__option-box {
  display: flex;
  align-items: center;
}
.support__option-box--margin {
  margin-bottom: 1.5rem;
}
.support__radio {
  width: 2rem;
  height: 2rem;

  transform: translateY(0.2rem);
}
.support__title {
  margin-left: 2rem;

  font-size: 1.6rem;
  font-weight: 700;
}
.support__pledge {
  display: inline-block;
  margin-left: 2rem;

  color: var(--color-moderate-cyan);
  font-size: 1.5rem;
  font-weight: 700;
}
.support__amount-pledge {
  font-size: 1.6rem;
}
.support__amount-pledge > span {
  font-weight: 700;
  margin-right: 0.3rem;
}
.support__text {
  padding-left: 4rem;

  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.support__text--padding {
  padding-right: 3rem;
}
.support__box-options {
  max-height: 0;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2.5rem;

  transition-duration: 0.5s, 0.3s, 0.6s;
  transition-property: max-height, padding, border-top;
  border-top: 1px solid hsla(0, 27%, 2%, 0);
}
.support__box-options--show {
  max-height: 50rem;
  /*padding: 2.5rem;*/
  padding: 2.5rem;
  padding-bottom: 0;
  border-top: 1px solid hsla(0, 2%, 53%, 0.3);
}
.support__options-text {
  font-size: 14px;
  font-weight: 500;
}
/*options block*/
.options {
}
.options-content-input {
  position: relative;
  display: inline-block;
}
.options__icon {
  position: absolute;
  width: 15px;

  top: 14px;
  left: 20px;

  z-index: 200;
}
.options__support {
  position: relative;
  max-width: 10rem;

  font-size: 14px;
  font-weight: 700;

  padding: 1.4rem 4rem;
  padding-right: 2rem;

  margin-right: 2rem;

  border: 1px solid hsla(0, 2%, 53%, 0.3);
  border-radius: 4rem;
}
/*------------------------------------*/
/*thanks block*/
.thanks {
  background-color: #ffffff;

  max-width: 54rem;

  display: none;

  opacity: 0;

  padding: 5rem 4rem;

  position: absolute;
  top: 45rem;

  text-align: center;

  border-radius: 1rem;

  z-index: 500;
}
.thanks--show {
  display: block;
  opacity: 1;
}
.thanks__box-image {
  margin-bottom: 4rem;
}
.thanks__image {
  width: 8rem;
}
.thanks__title {
  font-size: 24px;

  margin-bottom: 2rem;
}
.thanks__text {
  color: var(--color-dark-gray);
  font-size: 16px;

  margin-bottom: 4rem;
}
